
        :root {
            --background: #24252D;
            --backgroundLighter: #2A2D3A;
            --foreground: rgba(255, 255, 255, 0.5);
        }

        b {
            color: #fff;
        }

        body {
            overflow: -moz-scrollbars-vertical;
            overflow-x: hidden;
            overflow-y: auto;font-family: 'Montserrat', sans-serif;
            color: var(--foreground);
            background-color: var(--background);
        }
        .console{
            font-family: 'Inconsolata', monospace;
        }

        .shadowed {
            background-color: #2A2D3A;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .navbar {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .modal-header {
            border-bottom: 0 none;
        }
        
        .modal-footer {
            border-top: 0 none;
        }

        .modal-content{
            background-color: var(--background);
        }
        
        .form-control {
            background-color: var(--backgroundLighter);
            color: var(--foreground);
            outline: none;
            border: none;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .form-control:focus {
            background-color: var(--background);
            color: var(--foreground);
        }


        .form-control:disabled {
            background-color: var(--background);
            color: var(--foreground);
            box-shadow: none;
        }

        .force-white {
            color: var(--foreground) !important;
        }

        .bg-dark {
            background-color: var(--background) !important;
        }

        .bg-dark-lighter {
            background-color: var(--backgroundLighter) !important;
        }


        .btn-primary {
            background-color: var(--backgroundLighter);
            color: var(--foreground);
            outline: none;
            border: none;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: all 0.2s ease-in-out;
        }

        .btn-primary:hover {
            background-color: var(--background);
        }

        #loader {
            transition: all 0.5s ease-in-out;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            color: white;
            transition: background-color 5000s ease-in-out 0s;
            -webkit-text-fill-color: white;
        }  
        
        ::-webkit-scrollbar
        {
          width: 12px;  /* for vertical scrollbars */
          height: 12px; /* for horizontal scrollbars */
        }
        
        ::-webkit-scrollbar-track
        {
          background: rgba(0, 0, 0, 0.1);
        }
        
        ::-webkit-scrollbar-thumb
        {
          background: rgba(0, 0, 0, 0.5);
        }